.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
body{
  background-color: bisque;
}
.title{
  font-size: 50px;
}

img{
  width: 300px;
  height: 200px;
 
  padding-right: 30px;
}

.card{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  margin: auto;
  
}

