.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  
}
/* body{
  background-color: #111;
  color: antiquewhite;
} */
.title_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.title{
  
  width: 57%;
  text-align: end;
  
  font-size: 60px;
  font-weight: 400;
  
}



img{
  width: 250px;
  height: 150px;
  padding-right: 30px;
}
.cardContainer{
  width: 90%;
  margin: auto;
}
.cardPoster{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.card{
  padding: 10px;
  cursor: pointer;
  outline: none;
  transition: transform 450ms;
  
}
.card:hover{
  transform: scale(1.08);
}

input{
  width: 300px;
  height: 30px;
  font-size: 25px;
  margin-bottom: 50px;
  outline: none;
}
.loader{
  text-align: center;
  font-size: 60px;
}
button{
  height: 40px;
  border-radius: 50px;
  outline: none;
}

.btnDay{
  
  
  background-color: antiquewhite;
  color: #111;
}

.btnNight{

  
  
  background-color: #111;
  color: yellow;
}